@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Kings&display=swap');

@import "tailwindcss";

/*prefixes for TailwindCSS*/

/*plugins for TailwindCSS*/

/*themes for Tailwind*/
@theme {
  --color-primary-light: hsl(224, 79%, 43%);
  --color-primary-dark: hsl(224, 83%, 27%);

  --font-heading: UnifrakturMaguntia, cursive;
  --font-content: Eagle Lake, cursive;

  --color-secondary-light: hsl(360, 87%, 48%);
  --color-secondary-dark: hsl(360, 87%, 34%);
}
